.footer {
    padding: 40px 50px;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        font-size: 25px;
        // font-family: $title-font;
        letter-spacing: 8px;
        text-transform: uppercase;
    }
    &__menu {
        font-size: 12px;
        text-transform: uppercase;
        ul {
            display: flex;
            justify-content: center;
            white-space: nowrap;
    
        }
        a {
            position: relative;
            display: block;
            padding: 20px;
            &:before {
                content: "";
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 0;
                border-bottom: 1px solid #76bdf8;
                transition: 0.3s;
            }
            &:hover {
                transform: scale(1.1);
                &:before {
                    width: 100%;
                }
                

            }
        }
    }
}
.rights {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.21;
    color: #646464;
}
