@import "vars";

@media only screen and (max-width: 1680px) {
    .wrap {
        max-width: 1240px;
    }
}
@media only screen and (max-width: 1240px) {
    .wrap {
        padding: 0 20px;
    }
    .right-side {
        padding-top: 0;
    }
    .left-side__about {
        font-size: 1.2rem;
    }
    .left-side__text {
        font-size: 1.2rem;
    }
    .form-line p {
        font-size: 1.2rem;
    }
    .main__title {
        font-size: 1.3rem;
    }
    .form-line input, .form-line textarea {
        font-size: 17px;
    }

}
@media only screen and (max-width: 980px) {
    .main__title {
        padding: 40px 20px;
        text-align: center;
    }
    .header .wrap {
        flex-wrap: wrap;
    }
    .text {
        padding-left: 20px;
        text-align: right;
    }
    .left-side {
        width: 100%;
    }
    .right-side {
        padding-top: 40px;
        width: 100%;
    }
    .form {
        max-width: 670px;
    }
    .footer__menu ul {
        flex-direction: column;
        align-items: flex-end;
    }
    .footer__menu a {
        padding: 10px;
    }
}
@media only screen and (max-width: 679px) {
    .header {
        padding-bottom: 0;
    }
    .main__title {
        padding-bottom: 0;
    }
    .footer .wrap {
        flex-wrap: wrap;
    }
    .footer__left {
        width: 100%;
        order: 1;
        margin-top: 35px;
    }
    .footer__menu {
        width: 100%;
    }
    .footer__menu ul {
        align-items: center;
    }
}


@media only screen and (max-width: 479px) {
    .header {
        padding: 20px 0;
    }
    .left-side__text {
        padding: 7px;
        font-size: 0.8rem;
    }
    .footer {
        padding: 20px 10px;
    }
    .main__title {
        padding: 40px 10px 0;
        font-size: 1.2rem;
    }
    .btn {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 15px 32px;
    }
}
@media only screen and (max-width: 320px) {

}
