footer.footer
    .wrap
        .footer__left
            .rights © 2019 Large Space, All rights reserved
        .footer__menu
            ul
                li
                    a(href="tel:+7 958 010 16 86") +7 958 010 16 86
                li
                    a(href="mailto:sitecreation@largespace.ru") sitecreation@largespace.ru


//- script(src="js/scripts.min.js")
//- script(src="js/common.js")
