header
	nav
		.wrap
			.nav
				.logo
					.logo__text Large Space
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="tel:+7 958 010 16 86") +7 958 010 16 86
							li
								a(href="mailto:sitecreation@largespace.ru") sitecreation@largespace.ru
	.header
		.wrap
			.left-side
				.left-side__about Мы - профессиональная команда разработчиков, дизайнеров, маркетологов. Наша цель - обеспечить качественную и надежную работу Ваших информационных систем, будь то интернет-магазин, простой веб-сайт или корпоративная система 1С. Наша специализация - связка различных и нестыкуемых систем в единое целое, обеспечивающее успех на рынке
				.left-side__img
					.left-side__img--wrap
						img(src="img/main.jpg", alt="Электронный документооборот")
					.left-side__text 
						h1 Мы обеспечим простой и удобный документооборот с вашими контрагентами
			.right-side
				form.form
					.form-line
						p Оставьте свои координаты и мы свяжемся с вами!
					.form-line
						input#name(type='text', name='name', placeholder='Имя', required='')
					.form-line
						input#email(type='email', name='email', placeholder='Email', required='')
					.form-line
						textarea#text(name='text', placeholder='Сообщение', rows='4')
					.agree-line
						input#agree(type='checkbox', checked='', disabled)
						label(for='agree') Я даю согласие на обработку моих персональных данных
					.form-line
						button.btn(type='submit') Написать
		

			
