header
	nav
		.wrap
			.nav
				.logo
					.logo__text Large Space
				.text Разработчик и оператор систем электронного обмена документами
	.header
		.wrap
			.left-side
				.left-side__about Обмен любыми документами без бумаги?
				.left-side__img
					.left-side__img--wrap
						img(src="img/main.jpg", alt="Электронный документооборот")
					.left-side__text 
						p Просмотрите презентацию о преимуществах и возможностях системы ЭДО (электронного документооборота)
						.video__play
							.circle1
								.circle2
								.triangle

			.right-side
				form.form
					.form-line
						p 
							| Оставьте заявку сейчас и получите бесплатную консультацию по внедрению безбумажного документооборота и 
							span бонус!
					.form-line
						input#name(type='text', name='name', placeholder='Имя', required='')
					.form-line
						input#email(type='email', name='email', placeholder='Email', required='')
					.agree-line
						input#agree(type='checkbox', checked='', disabled)
						label(for='agree') Я даю согласие на обработку моих персональных данных
					.form-line
						button.btn(type='submit') Оставить заявку
				h1.main__title Ускорим обмен документами с контрагентами, перейдя на электронный документооборот
		

			
